body {
    line-height: 1.8;
    margin: 0;
    padding: 20px;
    background-color: #f0f4f8;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-container {
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 8px;
    margin: 0 auto;
}

h1, h2, h4, h5, h6 {
    color: #025939;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.back-button {
    left: 20px;
    z-index: 1000;
    position: fixed;
    top: 20px;
}

.back-button a {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(90deg, #018b6f, #016752);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.back-button a:hover {
    background: #0c5949;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-top: 0px;
    font-size: 1.8em;
    margin-left: 20px;
    margin-bottom: -10px
}

h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #02935e; 
    margin-top: 20px;
}

h4 {
    font-size: 1.6em;
    margin-left: 20px;
    margin-bottom: -15px;
}

h5 {
    font-size: 1.3em;
    margin-left: 30px;
    margin-bottom: -5px;
}

h6 {
    font-size: 1.1em;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: -5px;
}

a {
    color: #026b45;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #025939;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1em;
}

.image-container {
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.image-container-caption {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
}

.image-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.caption {
    text-align: center;
    font-size: 1em;
    color: #555;
    margin-top: -15px;
}

.image-single {
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    margin-left: 8px;
    margin-right: 8px;
}


.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.button {
    background-color: #036843;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button:hover {
    background-color: #12b378;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}

.image-single img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.image-single p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-single:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 8px rgba(189, 156, 156, 0.2);
    border-radius: 20px;
}


.image-single-40 {
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    margin-left: 8px;
    margin-right: 8px;
}

.image-single-40 img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
}

.image-single-40 p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-single-40:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 8px rgba(189, 156, 156, 0.2);
    border-radius: 20px;
}

code {
    background-color: #ecf0f1;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    padding: 15px;
    padding-top: 35px;
    border-top: 1px solid #7c7a7a;
    margin-top: 50px;
    font-size: 1em;
    color: #1deba0;
}

.actions-list {
    list-style-type: disc;
    margin-left: 20px;
}

.actions-list li {
    margin-bottom: 10px;
    color: #025939;
    text-align: justify;
    font-size: 1.1em;
}
